@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

#root {
  margin: 30px;
}

input {
  width: 500px;
  max-width: 100%;
  height: 40px;
  border-radius: 0;
  outline: none;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 22px;
  border: 1px solid #000000;
  font-weight: 400;
  margin-bottom: 20px;
}

input[type="color"] {
  width: 40px;
  padding: 4px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border: 0;
}
input[type="color"]::-moz-color-swatch {
  padding: 0;
  border: 0;
}

input[type="range"] {
  padding: 0;
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
  border: none;
}

input[type="range"]::-moz-range-track{
  background: #E0E0E0;
  height: 16px;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: #E0E0E0;
  height: 16px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  margin-top: -7px;
  background-color: black;
  height: 2rem;
  width: 1rem;
  border-radius: 0;
  border:none;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -7px;
  background-color: black;
  height: 2rem;
  width: 1rem;
  border-radius: 0;
  border:none;
}

input:last-child {
  margin-bottom: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

input::placeholder,
input::-ms-input-placeholder,
input::-webkit-input-placeholder,
input::-moz-placeholder {
  color: #9E9E9E;
}

input:focus, input:active {
  border-color: #2181F8;
}

.errorState input:not([type="submit"]):not([type="reset"]):not([type="color"]) {
  border-color: #ff3644;
}

button {
  width: 150px;
  height: 20px;
  margin-bottom: 30px;
}

label {
  color: black;
  font-weight: 500;
  margin-bottom: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 500;
  margin-bottom: 10px;
}

/* input[type="date"]::-webkit-datetime-edit,
input[type="datetime-local"]::-webkit-datetime-edit,
input[type="month"]::-webkit-datetime-edit,
input[type="week"]::-webkit-datetime-edit{
  color: #9E9E9E;
} */

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator,
input[type="month"]::-webkit-calendar-picker-indicator,
input[type="week"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  appearance: none;
  display: none;
}

input[type="date"] .datetime-input-edit-wrapper{
  color: #9E9E9E;
}

input[type="date"]::-moz-placeholder {
  color: #9E9E9E;
}

input[type="file"] {
  border: 0;
  padding: 0;
  height: auto;
}

input[type="image"] {
  padding: 0;
  border: 0;
}